.panelAdministracionTable {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.panelAdministracionTable tr {
	
}

.panelAdministracionTable td {
	background: #E7EFC6;
	padding: 2px 4px 2px 4px;
	text-align: left;
	text-align: center;
	
	
	color: #2e2925;
}

.panelAdministracionTable th {
	background: #007932;
	padding: 2px 4px 2px 4px;
	text-align: left;
	text-align: center;
	font-size: 20px;
	
	color: white;
	text-weight: bold;
}

.panelAdministracionTable a {
	text-decoration: none;
	color: #007932;
	font-weight: bold;
}

#botoncontainer {
	margin: 0 auto;
	text-align: center;
	padding: 4px 2px 2px 2px;
	background: #E7EFC6;
	color: #2e2925;
	
	font-size: 16px;
	font-weight: bold;
	width: 80%;
}

table#tablaListaUsuarios {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
}

#tablaListaUsuarios th {
	font-size: 20px;
	text-align: center;
	background-color: #007932;
	color: white;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

#tablaListaUsuarios img {
	vertical-align:text-bottom;	
}

#tablaListaUsuarios tr.par {
	background: #E7EFC6;
}

#tablaListaUsuarios tr.impar {
	background: white;
}

#tablaListaUsuarios td.texto {
	color: #2e2925;
	font-family: courier new, courier, monospace;
	
	padding: 2px 4px 2px 4px;
	text-align: left;
}

#tablaListaUsuarios td.texto a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}

#tablaListaUsuarios td.numerico {
	color: #2e2925;
	
	
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaListaUsuarios td.numerico a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}

#tablaListaUsuarios td a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}

#tablaListaUsuarios td.botones {
	color: #2e2925;
	
	
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaListaUsuarios td.botones img {
	border: 0px;
}

table#tablaFacturacion {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
}

#tablaFacturacion th {
	font-size: 20px;
	text-align: center;
	background-color: #007932;
	color: white;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

#tablaFacturacion img {
	vertical-align:text-bottom;	
}

#tablaFacturacion tr.par {
	background: #E7EFC6;
}

#tablaFacturacion tr.impar {
	background: white;
}

#tablaFacturacion td.texto {
	color: #2e2925;
	
	
	padding: 2px 4px 2px 4px;
	text-align: left;
}

#tablaFacturacion td.texto a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}

#tablaFacturacion td.numerico {
	color: #2e2925;
	
	
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaFacturacion td.numerico a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}

#tablaFacturacion td.botones {
	color: #2e2925;
	
	
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaFacturacion td.botones img {
	border: 0px;
}


h2#titulo {
	margin: 20px auto;
	width: 80%;
	padding: 4px 2px 2px 2px;
	text-align: center;
	background: #E7EFC6;
	color: #2e2925;
	/*background-color: #007932;
	color: white;*/	
	
	font-size: 16px;
	font-weight: bold;
}


table#tablaFormulario {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
}

#tablaFormulario th {
	font-size: 20px;
	text-align: center;
	background-color: #007932;
	color: white;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

#tablaFormulario img {
	vertical-align:text-bottom;	
}

#tablaFormulario tr.normal {
	background: #E7EFC6;
}

#tablaFormulario tr.titulin {
	background: white;
}

#tablaFormulario td.izquierda {
	color: #2e2925;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

#tablaFormulario td.derecha {
	color: #2e2925;
	padding: 2px 4px 2px 4px;
	text-align: right;
}

#tablaFormulario td a {
	text-decoration: none;
	color: #007932;
}

#tablaFormulario td.centro {
	color: #2e2925;
	
	
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaFormulario td.botones {
	color: #2e2925;
	
	
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaFormulario td.botones img {
	border: 0px;
}

hr {
	border-top: 0;
	border-right: 0;
	border-bottom: 1px #007932 solid;
	height: 1px;
	width: 100%;
}

.errorMessage {
	color: red;
	
	font-size: 10px;
	font-weight: bold;
}

.generalBox h3 {
	margin: 4px;
}