.botonesArriba {
	margin: 10px auto;
	text-align: center;
	padding: 4px 8px;;
	background: #E7EFC6;
	color: #2e2925;
	font-size: 14px;
	style: block;
	width: 80%;
	clear: both;
}

.botonesAbajo {
	margin: 0px auto;
	text-align: center;
	padding: 4px 8px;;
	background: #E7EFC6;
	color: #2e2925;
	font-size: 14px;
	style: block;
	width: 80%;
	clear: both;
}

.botonesAbajoPaginacion {
	margin: 0px auto;
	text-align: center;
	padding: 4px 8px;;
	background: #E7EFC6;
	color: #2e2925;
	font-size: 14px; 
	style: block;
	width: 100%;
	clear: both;
}

.rutaBox {
	font-size:20px;
	margin: 0 auto;
	text-align: left;
	padding: 4px 8px;;
	color: #2e2925;
	font-size: 16px;
	style: block;
	width: 80%;
	clear: both;
	background: #E7EFC6;
}

.rutaBox td a {
	text-decoration: none;
	color: #2e2925;
	font-weight: bold;	
}

table#tablaImportar {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
	background: #E7EFC6;
	color: #2e2925;
	font-size: 14px;
	style: block;
}

#tablaImportar th {
	text-align: center;
	background-color: #007932;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

#tablaImportar p {
	text-align: justify;
	margin-left: 4em;	
	margin-right: 4em;
}
	
table#tablaListaContactos {
	margin: auto;
	width: 100%;
	margin-bottom: 20px;
}

#tablaListaContactos th {
	text-align: center;
	background-color: #007932;
	color: white;
	font-size: 16px !important;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

#tablaListaContactos img {
	vertical-align:text-bottom;	
}

#tablaListaContactos tr.par {
	background: #E7EFC6;
}

#tablaListaContactos tr.impar {
	background: white;
}

#tablaListaContactos td.mensaje {
	background: #E7EFC6;
	height: 50px;
	font-size: 14px;
}

#tablaListaContactos td.texto {
	color: #2e2925;
	font-size: 14px;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

#tablaListaContactos td.texto a.enlaceGrupo {
	text-decoration: none;
	color: #007932;
	font-weight: bold;
}

#tablaListaContactos td.texto a.enlaceContacto {
	text-decoration: none;
	color: #2e2925;
}

#tablaListaContactos td.numerico {
	color: #2e2925;
	font-size: 14px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaListaContactos td.botones {
	color: #2e2925;
	font-size: 14px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

/* Nuevo grupo */

#grupoTable {
	margin: auto;
	width: 60%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.grupoTableTr {
	background: #E7EFC6;
	text-align: left;
}

.grupoTableTd {
	padding: 4px 8px;;
}

#grupoTable td.mensajeError {
	padding-bottom: 10px;
	text-align: center;
}

.blanco {
	background: #FFFFFF;
	height: 3px;
}

div#divListaGrupos {
	margin:auto;
	width:100%;
	height:300px;
	overflow:scroll;	
}

table#tablaListaGrupos {
	margin: auto;
	width: 100%;
	margin-bottom: 20px;
}

#tablaListaGrupos th {
	text-align: center;
	background-color: #007932;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

#tablaListaGrupos img {
	vertical-align:text-bottom;	
}

#tablaListaGrupos tr.par {
	background: #E7EFC6;
}

#tablaListaGrupos tr.impar {
	background: white;
}

#tablaListaGrupos td.mensaje {
	background: #E7EFC6;
	height: 50px;
	font-size: 14px;
}

#tablaListaGrupos td.texto {
	color: #2e2925;
	font-size: 14px;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

#tablaListaGrupos td.texto a.enlaceGrupo {
	text-decoration: none;
	color: #007932;
	font-weight: bold;
}

#tablaListaGrupos td.texto a.enlaceContacto {
	text-decoration: none;
	color: #2e2925;
}

#tablaListaGrupos td.numerico {
	color: #2e2925;
	font-size: 14px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaListaGrupos td.botones {
	color: #2e2925;
	font-size: 14px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

table#tablaCombo {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
	height:200px;
}

#tablaCombo th {
	text-align: center;
	background-color: #007932;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

#tablaCombo img {
	vertical-align:text-bottom;	
}

#tablaCombo tr.par {
	background: #E7EFC6;
}

#tablaCombo tr.impar {
	background: white;
}

#tablaCombo td.mensaje {
	background: #E7EFC6;
	height: 50px;
	font-size: 14px;
}

#tablaCombo td.texto {
	color: #2e2925;
	font-size: 14px;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

#tablaCombo td.texto a.enlaceGrupo {
	text-decoration: none;
	color: #007932;
	font-weight: bold;
}

#tablaCombo td.texto a.enlaceContacto {
	text-decoration: none;
	color: #2e2925;
}

#tablaCombo td.numerico {
	color: #2e2925;
	font-size: 14px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaCombo td.botones {
	color: #2e2925;
	font-size: 14px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}