table#tablaListaCarpetas {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
}

#tablaListaCarpetas th {
	text-align: center;
	background-color: #007932;
	color: white;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

#tablaListaCarpetas img {
	vertical-align:text-bottom;	
}

#tablaListaCarpetas tr.par {
	background: #E7EFC6;
}

#tablaListaCarpetas tr.impar {
	background: white;
}

#tablaListaCarpetas td.texto {
	color: #2e2925;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

#tablaListaCarpetas td.texto a {
	text-decoration: none;
	color: #007932;
	font-weight: bold;
}

#tablaListaCarpetas td.numerico {
	color: #2e2925;
	font-family: verdana;
	font-size: 10px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaListaCarpetas td.botones {
	color: #2e2925;
	font-family: verdana;
	font-size: 10px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaListaCarpetas td.botones img {
	border: 0px;
}

#botoncontainer {
	margin: 0 auto;
	text-align: center;
	padding: 4px 2px 2px 2px;
	background: #E7EFC6;
	color: #2e2925;
	font-family: verdana;
	font-size: 16px;
	font-weight: bold;
	width: 80%;
}

table#tablaListaMensajes {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
}

#tablaListaMensajes th {
	text-align: center;
	background-color: #007932;
	color: white;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

#tablaListaMensajes img {
	vertical-align:text-bottom;	
}

#tablaListaMensajes tr.par {
	background: #E7EFC6;
}

#tablaListaMensajes tr.impar {
	background: white;
}

#tablaListaMensajes td.texto {
	color: #2e2925;
	font-family: courier new;
	font-size: 10px;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

#tablaListaMensajes td.texto_push {
	color: navy;
	font-family: courier new;
	font-size: 10px;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

#tablaListaMensajes td.texto a {
	text-decoration: none;
	color: #007932;
	font-weight: bold;
}

#tablaListaMensajes td.numerico {
	color: #2e2925;
	font-family: verdana;
	font-size: 10px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaListaMensajes td.botones {
	color: #2e2925;
	font-family: verdana;
	font-size: 10px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaListaMensajes td.botones img {
	border: 0px;
}

h2#titulo {
	margin: 20px auto;
	width: 80%;
	padding: 4px 2px 2px 2px;
	text-align: center;
	background: #E7EFC6;
	color: #2e2925;
	/*background-color: #007932;
	color: white;*/	
	font-family: verdana;
	font-size: 16px;
	font-weight: bold;
}