#enviosTable {
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 70%;
}

.enviosTableTr {
	background: #E7EFC6;
}

.enviosTableTd {
	padding: 2px 4px 2px 4px;
	text-align: left;
}
.enviosTableTdCenter {
	padding: 2px 4px 2px 4px;
	text-align: center;
}
.enviosTableTdRight {
	padding: 2px 4px 2px 4px;
	text-align: right;
}

.enviosInputInfo {
	background-color: #E7E7E0;
	font-family: verdana, helvetica;
	font-size: 12px;
	text-align: left;
	color: #2e2925;
	width: 3em;
	border: 1px solid #FFFFFF;
}

.enviosTextareaInfo {
	background-color: #E7E7E0;
	font-family: verdana, helvetica;
	font-size: 12px;
	text-align: left;
	color: #2e2925;
	border:1px solid #FFFFFF;
}

h2#titulo {
	margin: 20px auto 10px auto;
	width: 640px;
	padding: 4px;
	text-align: center;
	background: #E7EFC6;
	color: #2e2925;
	font-family: verdana, helvetica;
	font-size: 14px;
	font-weight: bold;
}

p#mensajeInfo {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	width: 640px;
	padding: 15px 4px;
	background: #E7EFC6;
}

#lineaBotones {
	margin: auto;
	/*margin-top: 5px;*/
	margin-bottom: 20px;
	width: 640px;
	padding: 10px 4px;
	background: #E7EFC6;
}

.errorMessage {
	color: red;
	font-family: verdana, helvetica, arial;
	font-size: 12px;
	font-weight: bold;
}

h2 {
	margin: 20px auto;
	width: 80%;
	padding: 4px 2px 2px 2px;
	text-align: center;
	background: #E7EFC6;
	color: #2e2925;
	/*background-color: #007932;
	color: white;*/	
	font-family: verdana, helvetica, arial;
	font-size: 16px;
	font-weight: bold;
}


table#tablaListaAlmacenados {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
}

#tablaListaAlmacenados th {
	text-align: center;
	background-color: #007932;
	color: white;
	font-family: verdana, helvetica, arial;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

#tablaListaAlmacenados img {
	vertical-align:text-bottom;	
}

#tablaListaAlmacenados tr.par {
	background: #E7EFC6;
}

#tablaListaAlmacenados tr.impar {
	background: white;
}

#tablaListaAlmacenados td.texto {
	color: #2e2925;
	font-family: courier new, courier, monospace;
	font-size: 12px;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

#tablaListaAlmacenados td.texto a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}

#tablaListaAlmacenados td.numerico {
	color: #2e2925;
	font-family: verdana, helvetica, arial;
	font-size: 12px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaListaAlmacenados td.numerico a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}

#tablaListaAlmacenados td.botones {
	color: #2e2925;
	font-family: verdana, helvetica, arial;
	font-size: 12px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

#tablaListaAlmacenados td.botones img {
	border: 0px;
}

.enviosTableTr td img {
	vertical-align:middle;
}