/**
 * Templates & Themes Styles 
 */

.wwFormTable {
	border: 0;
	padding-cell: 0;
	spacing-cell: 0;
	padding-top:15px;
	align: center
}

.label {
	font-size: 16px;
	color: #2e2925
}

.errorMessage {
	font-size: 16px;
	color: red
}

/*.errorLabel {
	font-style: italic;
	color: red;
}

.checkboxLabel {
	
}

.checkboxErrorLabel {
	color: red;
}

.required {
	color: red;
}*/

.tdLabel {
	text-align: right;
	padding-left:4px;
	padding-bottom:5px;
}

.version {
	font-size:10px;
	color: #AFB595;
	width: 100%;
	text-align: left;
	padding-left: 8px;
	margin-top: -8px;
}

table#login_form td {
	border-radius: 0px !important;
}

table#login_form tr:first-child td {
	border-radius: 8px 8px 0px 0px !important;
    -moz-border-radius: 8px 8px 0px 0px !important;
}

table#login_form tr:last-child td {
	border-radius: 0px 0px 8px 8px !important;
    -moz-border-radius: 0px 0px 8px 8px !important;
    padding: 8px;
}

table.table_login table.wwFormTable td {
	padding: 4px !important;
}

.wwFormTable input {
	padding: 4px !important;
}