@CHARSET "UTF-8";

.jumbotron {
	text-align: center;
	background-color: #087021;
	color: #F9F9FA;
}

body {
	font-family: 'Archivo Narrow', sans-serif;
}

.mainli {
	font-size: 2.5em;
	padding: 1em 0 0 0;
}

.subli {
	font-size: 0.75em;
	padding: 1em 0 0 0;
}