.notificacionesTable {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.notificacionesTable tr {
	
}

.notificacionesTable td {
	background: #E7EFC6;
	padding: 2px 4px 2px 4px;
	text-align: left;
	text-align: center;
	font-size: 16px;
	color: #2e2925;
}

.notificacionesTable th {
	background: #007932;
	padding: 2px 4px 2px 4px;
	text-align: left;
	text-align: center;
	font-size: 20px;
	color: white;
	text-weight: bold;
}

.notificacionesTable a {
	text-decoration: none;
	color: #007932;
	font-weight: bold;
}

#botoncontainer {
	margin: 0 auto;
	text-align: center;
	padding: 4px 2px 2px 2px;
	background: #E7EFC6;
	color: #2e2925;
	font-size: 16px;
	font-weight: bold;
	width: 80%;
}

table.tablaGeneral {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
}

.tablaGeneral th {
	text-align: center;
	background-color: #007932;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

.tablaGeneral img {
	vertical-align:text-bottom;	
}

tr.par {
	background: #E7EFC6;
}

tr.impar {
	background: white;
}

.tablaGeneral td.texto {
	color: #2e2925;
	font-family: courier new, courier, monospace;
	font-size: 12px;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

.tablaGeneral td.texto a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}

.tablaGeneral td.numerico {
	color: #2e2925;
	font-size: 16px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

.tablaGeneral td.numerico a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}

.tablaGeneral td a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}

.tablaGeneral td.botones {
	color: #2e2925;
	font-size: 16px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

.tablaGeneral td.botones img {
	border: 0px;
}

h2#titulo {
	margin: 20px auto;
	width: 80%;
	padding: 4px 2px 2px 2px;
	text-align: center;
	background: #E7EFC6;
	color: #2e2925;
	/*background-color: #007932;
	color: white;*/	
	font-size: 16px;
	font-weight: bold;
}


table.tablaFormulario {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
}

.tablaFormulario th {
	text-align: center;
	background-color: #007932;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
}

.tablaFormulario img {
	vertical-align:text-bottom;	
}

.tablaFormulario tr.normal {
	background: #E7EFC6;
}

.tablaFormulario tr.titulin {
	background: white;
}

.tablaFormulario td.izquierda {
	color: #2e2925;
	font-size: 16px;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

.tablaFormulario td.derecha {
	color: #2e2925;
	font-size: 16px;
	padding: 2px 4px 2px 4px;
	text-align: right;
}

.tablaFormulario td a {
	text-decoration: none;
	color: #007932;
}

.tablaFormulario td.centro {
	color: #2e2925;
	font-size: 16px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

.tablaFormulario td.botones {
	color: #2e2925;
	font-size: 16px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

.tablaFormulario td.botones img {
	border: 0px;
}

hr {
	border-top: 0;
	border-right: 0;
	border-bottom: 1px #007932 solid;
	height: 1px;
	width: 100%;
}

.errorMessage {
	color: red;
	font-size: 14px;
	font-weight: bold;
}

h3 {
	margin: 2px 2px 2px 2px;
}

h4 {
	text-align: left;
	margin: 2px 2px 2px 2px;
}

.attachment_body td {
	font-size: 14px !important;
}

.line_commands input {
	border: 0px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background: transparent;
}

.subtitler {
	font-weight: bold;
	width: 100%;
	border-bottom: 1px solid #9CA27E;
	margin-bottom: 2px;
}

.imgcontainer {

}

.imgcontainer img {
	max-height: 200px;
}
