#preferenciasTable {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.preferenciasTableTr {
	background: #E7EFC6;
	text-align: left;
}

.preferenciasTableTd {
	padding: 2px 4px 2px 4px;
}

h2#titulo {
	margin: 20px auto;
	width: 80%;
	padding: 4px 2px 2px 2px;
	text-align: center;
	background: #E7EFC6;
	color: #2e2925;
	/*background-color: #007932;
	color: white;*/	
	font-family: verdana;
	font-size: 16px;
	font-weight: bold;
}