.smsTable {
	margin: auto;
	width: 80%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.smsTable tr {
	
}

.smsTable td {
	background: #E7EFC6;
	padding: 4px 4px 4px 4px;
	text-align: left;
	text-align: center;
	font-size: 16px;
	color: #2e2925;
}

.smsTable th {
	background: #007932;
	padding: 4px 4px 4px 4px;
	text-align: left;
	text-align: center;
	font-size: 20px;
	color: white;
	text-weight: bold;
}

.smsTable a {
	text-decoration: none;
	color: #007932;
	font-weight: bold;
}
