@font-face {
  font-family: "TeXGyreHerosCnRegular";
  src:  url("fonts/texgyreheroscn-regular-webfont.woff")  format('woff'),
  	url("fonts/texgyreheroscn-regular-webfont.ttf")   format('truetype'),
  	url("fonts/texgyreheroscn-regular-webfont.eot")   format('eot'),
  	url("fonts/texgyreheroscn-regular-webfont.svg")   format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: "TeXGyreHerosCnRegular", arial, helvetica;
}

.A12negro {	
	font-size: 16px;
	text-align: justify;
	color: #2e2925
}

.A12Inegro {
	font-size: 16px;
	text-align: justify;
	color: #2e2925;
	font-style: italic
}

.A12Nnegro {
	font-size: 16px;
	text-align: justify;
	color: #2e2925;
	font-weight: bold
}

.A12Error {
	font-size: 16px;
	text-align: justify;
	color: red
}

.V12Nnegro {
	font-size: 16px;
	text-align: justify;
	color: #2e2925;
	font-weight: bold
}

.V14Nnegro {
	font-size: 14px;
	text-align: justify;
	color: #2e2925;
	font-weight: bold
}

.celdaMenu {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.titulo_envia {
	border: 1px solid #2e2925;
	padding-top: 6px;
	padding-bottom: 6px;
	background: navy;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}

.V10formulario {
	font-size: 16px;
	color: #2e2925;
}

.v10negro {
	font-size: 16px;
	color: #2e2925;
}

.titulo {
	font-weight: bold;
	font-size: 24px;
	text-align: justify;
	color: #2e2925;
	letter-spacing: 1pt
}

.subtitulo {
	font-weight: bold;
	font-size: 20px;
	text-align: justify;
	color: #2e2925;
	letter-spacing: 1pt
}

td {
	font-size: 16px;
	color: #2e2925
}

.v10blanco {
	font-size: 16px;
	color: #FFFFFF
}

.v10Nverde {
	font-size: 16px;
	color: #007932;
	font-weight: bold
}

.v10Nrojo {
	font-size: 16px;
	color: #fe0000;
	font-weight: bold
}

.v10Nblanco {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold
}

.V10Inegro {
	font-size: 16px;
	text-align: justify;
	color: #2e2925;
	font-style: italic
}

.V10nnegro {
	font-size: 16px;
	text-align: justify;
	color: #2e2925;
	font-weight: bold
}

html, body {
	background: #E7EFC6;
	background-image: url('../images/wallpaper.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom; 
	/*margin: 8px 8px 8px 8px;
	height: 98%;*/
}

#mainContainer {
	/*background: white;*/
	background-image: url('../images/traslucent-white-50.png'); 
	background-repeat: repeat;
	border: 1px #aaa solid;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

#bodyContainer {
	padding: 10px 10px 10px 10px;
	text-align: center;
	font-size: 16px;
	color: #2e2925;
	border-radius: 0px 0px 8px 8px !important;
    -moz-border-radius: 0px 0px 8px 8px !important;
}

div#logosContainer {
	width:100%;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px #aaa solid;
	clear: both;
	style: block;
	background: white;
	border-radius: 8px 8px 0px 0px !important;
    -moz-border-radius: 8px 8px 0px 0px !important;
}

div#logoJunta {
	float: left;
	width: 58px;
	height: 58px;
	background-image: url(../images/logoMarca-Junta.gif);
	margin: 4px 4px 4px 4px;
}

div#logoWebMovil {
	float: right;
	width: 149px;
	height: 58px;
	background-image: url(../images/logo2_WebMovil.gif);
	margin: 4px 4px 4px 4px;
}

.hidden {
	display: none;
}

div#menuBar {
	width:100%;
	padding: 0 0 0 0;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px #aaa solid;
	clear: both;
	style: block;
	background-color: #E7EFC6;
}

.menuItem {
	float: left;
	color: #2e2925;
	padding: 2px 8px 2px 8px;
	border-top: 0px;
	border-right: 1px #aaa solid;
	border-left: 0px;
	border-bottom: 0px;
	clear: none;
	font-size: 16px;
}

.menuItemSelected {
	float: left;
	color: #007932;
	font-weight: bold;
	padding: 2px 8px 2px 8px;
	border-top: 0px;
	border-right: 1px #aaa solid;
	border-left: 0px;
	border-bottom: 0px;
	clear: none;
	font-size: 16px;
	background-color: #FFFFFF;
}

div#menuBar a {
	text-decoration: none;
	color: #007932;
	font-weight: bold;
}

div#infoBar {
	width:100%;
	padding: 0 0 0 0;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px #aaa solid;
	clear: both;
	style: block;
	background-color: #007932;
}

div#infoBarUsuario {
	padding: 2px 8px 2px 8px;
	float: left;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

div#infoBarEmisor {
	padding: 2px 8px 2px 8px;
	float: right;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

.clear { 
	clear: both;
	height: 0px;
	margin: 0 0 0 0;
	padding: 0 0 0 0; 
}

.generalBox {
	margin: 0 auto;
	text-align: center;
	padding: 4px 2px 2px 2px;
	background: #E7EFC6;
	color: #2e2925;
	font-size: 16px;
	style: block;
	width: 80%;
	clear: both;
}

.generalBox img {
	border: 0px;
}

.generalBox a {
	text-decoration: none;
	color: #007932;
	font-weight: bold;
}

.generalBox h3 {
	text-align: left;
	font-weight: bold;
	color: #2e2925;
	font-size: 20px;	
}

.generalBox tr.par {
	background: #E7EFC6;
}

.generalBox tr.impar {
	background: white;
}

.generalBox td.texto {
	color: #2e2925;
	font-size: 16px;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

.generalBox td.texto a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}

.generalBox td.numerico {
	color: #2e2925;
	font-size: 16px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

.generalBox td.numerico a {
	text-decoration: none;
	color: #007932;
	/*font-weight: bold;*/
}


button {
	font-family: "TeXGyreHerosCnRegular", arial, helvetica !important;
	background-color: #E7E7E0;
	font-size: 16px;
	text-align: center;
	color: #2e2925;
}

input, input[type=file] {
	font-family: "TeXGyreHerosCnRegular", arial, helvetica !important;
	background-color: #E7E7E0;
	font-size: 16px;
	text-align: left;
	color: #2e2925;
	border: 1px #9CA27E solid;		
	border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 2px !important;
}

input.submit, button {
	background-color: #E7E7E0;
	font-size: 16px;
	text-align: center;
	color: #2e2925;
	border-right: 2px #9CA27E solid;
	border-bottom: 2px #9CA27E solid;
	border-left: 2px white solid;
	border-top: 2px white solid;
	border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 2px 12px !important;	
}

textarea {
	border: 1px #9CA27E solid;
	border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 2px !important;
	background-color: #E7E7E0;
	font-family: courier new, courier, monospace;
	font-size: 16px;
	text-align: left;
	color: #2e2925;
	border: 1px #9CA27E solid;
}

select {
	font-family: "TeXGyreHerosCnRegular", verdana, helvetica !important;
	background-color: #E7E7E0;
	font-size: 16px;
	text-align: left;
	color: #2e2925;
	border: 1px #9CA27E solid;
	border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 2px !important;
}

img {
	border: 0px;
}

.ui-tooltip {
    white-space: pre-line !important; 
    font-family: font-family: "TeXGyreHerosCnRegular", verdana, helvetica !important;
	font-size: 10px !important;
}

#tabs p {
	text-align: left;
}

h2 {
	margin-top: 0px;
	margin-bottom: 8px;	
}

code {
	style:inline-block;
	color: #007932;
	background-color: #E7EFC6;
	font-family: lucida console, courier, monospace;
	font-size: 16px;
	-moz-border-radius: 4px 0px 0px 4px; 
    -webkit-border-radius: 4px 0px 0px 4px; 
    border-radius: 4px 0px 0px 4px; 
    padding: 1px 4px 1px 4px;
    
}

ul {
	text-align:left;
}

h5 {
	text-align:left;
}

}

table {
    border-collapse: separate;
    border-spacing: 0;
    
}

table {
    border: 0px;
    /*
    border-radius: 8px;
    -moz-border-radius: 8px;
    */
    padding: 4px !important;
    border-radius: 8px;
    -moz-border-radius: 8px;
}

table tr:first-child th, table tr:first-child td {
	border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;	
}
 
table tr:last-child td {
	border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
}

table tr:only-child th, table tr:only-child td {
	border-radius: 8px;
    -moz-border-radius: 8px;
}

span.nowrap {
	white-space: nowrap;
}

.envioTexto {
	font-size: 16px;
}